<div class="call">
  <div class="call-box-top call-container" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <!-- Sentence on the left -->
    {% if site.data.contact.contact_sentence %}
      <p class="call-sentence" style="margin: 0;">{{ site.data.contact.contact_sentence }}</p>
    {% endif %}
    
    <!-- Button aligned to the right -->
    {% if include.show_button %}
    <a href="{{ site.data.contact.contact_button_link }}" class="button call-button">
      {{ site.data.contact.contact_button_text | default: "JOIN" }}
    </a>
        {% endif %}
  </div>
</div>
